*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h3 {
  color: #808080;
  font-size: 1.4375em;
  letter-spacing: 0.01875em;
}

h4 {
  color: #808080;
  font-size: 0.9375em;
  font-weight: 400;
  padding-bottom: 0.9375em;
  text-transform: uppercase;
}

.page {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "head" "navigation" "main";
}

.page__header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: head;
  background-color: #7578BF;
}

.page__nav {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: navigation;
  background-color: #4D4F73;
}

.page__main {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: main;
  background-color: #fff;
  display: -ms-grid;
  display: grid;
}

@media (min-width: 768px) {
  .page {
    -ms-grid-columns: 12vw 1fr;
        grid-template-columns: 12vw 1fr;
        grid-template-areas: "head head" "navigation main";
  }
  .page__main {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.125em;
  color: #fff;
}

.logo-list {
  margin-right: auto;
}

.bell-list {
  margin-right: 1.5625em;
}

.line-seperator {
  padding-right: 1.25em;
  border-left: 2px solid rgba(0, 0, 0, 0.1);
  height: 2.5em;
}

.user__image {
  width: 2.5em;
  height: 2.5em;
  margin-right: 0.9375em;
  border-radius: 50%;
}

.header-right__bell-icon {
  width: 20px;
}

.bell-list a[data-bubble] {
  position: relative;
}

.bell-list a[data-bubble]::after {
  content: "";
  position: absolute;
  top: -0.75em;
  right: -0.1875em;
  width: 0.5em;
  height: 0.5em;
  line-height: 0.625em;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  font-weight: 400;
  background-color: #81C98F;
}

.nav {
  padding: 1.125em;
}

.nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__container li {
  height: 3.75em;
  padding: 0.625em;
}

.nav__link {
  display: block;
  padding: 0.625em;
  opacity: 0.6;
}

.nav__link:hover {
  border-bottom: 2px solid #81C98F;
  opacity: 1;
}

.nav__image {
  width: 2em;
  height: 2em;
}

@media (min-width: 768px) {
  .nav__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav__container .nav__link:hover {
    border-bottom-style: none;
    border-left: 2px solid #81C98F;
    opacity: 1;
  }
}

.main {
  padding: 1.125em;
}

.main__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__search-icon {
  height: 15px;
  width: 15px;
  fill: #7578BF;
}

.traffic {
  padding: 1.125em;
}

.traffic__header {
  padding: 0 10px 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.traffic__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.widget-container-full,
.widget-container-half {
  position: relative;
  margin: auto;
  width: 95vw;
}

.social {
  padding: 1.125em;
}

.social-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #808080;
  background-color: #FBFBFB;
  padding: 1.25em;
  margin: 0.625em;
}

.social__image {
  background-color: #7578BF;
  border-radius: 50%;
  text-align: center;
  width: 5em;
  height: 5em;
  padding: 1.5625em;
}

.social__icon {
  width: 1.875em;
  height: 1.875em;
}

.social path {
  fill: #fff;
}

.social__text {
  margin-left: 20px;
}

.social__text h3 {
  color: #7578BF;
  font-weight: 900;
}

.social__text p {
  color: #808080;
  font-size: 3rem;
  font-weight: 300;
}

@media (min-width: 768px) {
  .traffic {
    grid-column: 1 / -1;
  }
  .daily {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
    border: 1px solid #E6E6E6;
    padding: 1.25em;
    border-left-style: none;
  }
  .mobile {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / span 1;
    border: 1px solid #E6E6E6;
    padding: 1.25em;
    border-right-style: none;
  }
  .widget-container-half {
    width: 45vw;
  }
  .widget-container-full {
    width: 90vw;
  }
  .page__social {
    grid-column: 1/-1;
  }
  .social-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=styles.css.map */