
// Top header
.header__container {
    display: flex;
    align-items: center;
    padding: em(18px);
    color: $color-white;
}

.logo-list {
     margin-right: auto;
}

.bell-list {
    margin-right: em(25px);
}

.line-seperator {
    padding-right: em(20px);
    border-left: 2px solid rgba(0, 0, 0, 0.1);
    height: em(40px);
}


   
  .user__image {
    width: em(40px);
    height: em(40px);
    margin-right: em(15px);
    border-radius: 50%;
}

.header-right__bell-icon {
    width: 20px;
  }

// bell badge, circle
.bell-list a[data-bubble] {
    position: relative;
}

// data-bubble is user defined attribute.
.bell-list a[data-bubble]::after {
    // content: attr(data-bubble);
    content: "";
    position: absolute;
    top:  em(-12px);
    right: em(-3px);
    width: em(8px);
    height: em(8px);
    line-height: em(10px);  // to center text
    text-align: center;
    border-radius: 50%;
    color: $color-white;
    font-weight: 400;
    background-color: $color-green;
}