// Color variables
$color-black: rgb(31, 29, 29);
$color-white: #fff;

$color-primary: #7578BF;
$color-secondary: #4D4F73;

$color-green: #81C98F;
$color-grey-light: #E6E6E6;

$color-grey-medium:#FBFBFB;
$color-dark-grey: #808080;
$color-lavender: #E2E3F6;

// font size
$base__font-size: 16px;

//media Query breakpoints

$breakpoint-sm : 1px;
$breakpoint-md : 767px;